<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="false">
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\TokenService.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ConnectionStrings:CapWebConnection" value="CapWeb.db" />
          <environmentVariable name="Email:Password" value="kZat032~" />
          <environmentVariable name="Email:SMTPPort" value="465" />
          <environmentVariable name="Email:SmtpServer" value="drjohnmelville.com" />
          <environmentVariable name="Email:SourceAccount" value="OBCAP@drjohnmelville.com" />
          <environmentVariable name="LogRetrieval:Secret" value="M0thBalls" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>