@model ForgotPasswordModel

@{
    ViewBag.Title = "Forgot password";
    Layout = "_Layout";
}

<div class="col-sm-6" xmlns="http://www.w3.org/1999/html">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reset Forgotten Password</h3>
            </div>

            <partial name="_ValidationSummary" />

            <div class="panel-body">
                <p>To reset your password, please provide the email address associated with this account
                    in the box below and click the button.  CapWeb will send you an email with password
                    reset instructions.</p>
                <form method="post">
                    <fieldset>
                        <div class="form-group">
                            <label asp-for="EmailAddress"></label>
                            <input class="form-control" placeholder="Email" asp-for="EmailAddress" type="email" 
                                   autofocus>
                            <br/>
                            <div class="form-group">
                                <button class="btn btn-primary" name="button">Send Password Reset Request</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
