
<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.png">
                Welcome to CapWeb
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                CapWeb provides single-sign on and user privilige authentication services for the CapWeb family of
                sites including <a href="https://obcap.drjognmelville.com">The Online Bibliography of Child Abuse
                    Pediatrics</a> and <a href="https://ewd.drjohnmelville.com">The Expert Witness Database.</a>  Most users
                    will directly interact with CapWeb infrequently, if at all.  CapWeb member sites will refer you
                    to CapWeb at appropriate times for user verification.
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Click <a href="~/grants">here</a> to manage your access privileges.  
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                CAP web also publishes a
                <a href="~/.well-known/openid-configuration">discovery document</a> that contains technical information
                about how your browser can use this service to log in ro CapWeb sites and services. </p>
        </div>
    </div>
</div>
