@model TokenService.Controllers.Users.PickPasswordModel

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Consent</h3>
        </div>
        <p>The CapWeb family of websites stores limited amounts of your personal data exclusively to facilitate your
            use of those sites.  This information may include the name and email address you provide to CapWeb, as
            well as a unique user identifier shared by all CapWeb sites.  If you post user content or votes on OBCAP 
            or EWD these data are connected to your user identifier.  CapWeb does use logs, including Google Analytics 
            for technical information needed to continue 
            providing high quality service.  Google analytics may report your country or region, usage habits,
            and technical aspects of your browser or device.
        </p>
        <p>CapWeb uses cookies to provide single sign on services across the CapWeb family of websites.  CapWeb
            does not participate in online advertising, and does not share or sell user data.  Aggregate data from many
            users may be used in grant applications, grant reports, or academic papers related to the CapWeb sites.</p>
        <p>By selecting a password on CapWeb you acknowledge the above and consent to the storage of your personal information,
            including the use of cookies.  If you would like your personal information removed from CapWeb, please email
            <a href="mailto:johnmelville@gmail.com">the administrator.</a></p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.Title</h3>
        </div>

        <partial name="_ValidationSummary"/>

        <div class="panel-body">
            <form method="post">
                <fieldset>
                    <input type="hidden" asp-for="PermissionHash"/>
                    <div class="form-group">
                        <label asp-for="User"></label>
                        <input class="form-control" placeholder="Email" asp-for="User" type="email"
                               readonly>
                    </div>
                    <p>@Model.Explanation</p>
                    <div class="form-group">
                        <label asp-for="Password">New Password</label>
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordVerification">Retype New Pasword</label>
                        <input type="password" class="form-control" placeholder="Again:" asp-for="PasswordVerification" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" name="button" value="password">@Model.ButtonText</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
